<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot_type" default="mmo_500"/>
  <arg name="robot_world" default="cafe_500.sdf"/>>
  <arg name="rviz" default="true"/>
  <arg name="autonomous_navigation" default="true"/>

<!---=================================================================================================================================================================-->

  <!-- Basic Simulation -->
  <include file="$(find neo_simulation)/launch/$(arg robot_type)/$(arg robot_type)_simulation_basic.launch">
	<arg name="world_name_global" value="$(find neo_simulation)/worlds/$(arg robot_world)"/>
  </include>

  <!-- Move Group-->
  <include file="$(find neo_mmo_500)/launch/move_group.launch"></include>

  <!-- Autonomous Navigation -->
  <group if="$(arg autonomous_navigation)">
      <include file="$(find neo_simulation)/launch/$(arg robot_type)/$(arg robot_type)_autonomous_navigation.launch"/>
  </group>

  <!-- RVIZ -->
  <group if="$(arg rviz)">
      <include file="$(find neo_simulation)/launch/$(arg robot_type)/$(arg robot_type)_rviz.launch"/>
  </group>

<!---=================================================================================================================================================================-->


</launch>
